.menu-area {
    /* border-right: 2px solid #FFF; */
    box-shadow: 0px 0px 15px #0004;
    /* background: linear-gradient(to bottom right,#d08b52 0%,#f5c248 100%); */
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.perfil img {
    width: 150px;
    height: 210px;
}

.perfil .nome {
    color: black;
    margin-top: 5px;
    font-size: 15px;
}

.perfil p {
    color: black;
    font-size: 12px;
}

hr {
    display: block;
    border-top: 2px solid white;
    border-radius: 2.5px;
    margin: 2px 0px 3px 0px;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
}

.menu a:hover{
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}