:root {
    --nav-width: 190px;
    --footer-height: 40px;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: var(--nav-width) 1fr;
    grid-template-rows: 1fr var(--footer-height);
    grid-template-areas: 
    "nav content"
    "nav footer";
}

.menu-area {
    grid-area: nav;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}