:root {
    --nav-width: 250px;
    --footer-height: 40px;
}

* {
    box-sizing: border-box;
    font-family: Roboto;
}

.app {
    margin: 0;
    height: 100vh;
    

    display: grid;
    grid-template-columns: var(--nav-width) 1fr;
    grid-template-rows: 1fr var(--footer-height);
    grid-template-areas: 
    "nav content"
    "nav footer";
}

.menu-area {
    grid-area: nav;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

@media(max-width: 768px){
    .app {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr var(--footer-height);
        grid-template-areas: 
        "nav"
        "content"
        "footer";
    }

    .menu-area {
        height: 150px;
    }
    .menu-area hr{
        margin-top: 0;
    }

    .menu-area .perfil {
        display: flex;
        flex-direction: column;
    }

    .menu-area .foto {
        display: none;
    }

    .menu {
        display: flex;
        margin-top: 0;
        justify-content: space-between;
    }

    .content div {
        height: 90%;
    }

    .accordion {
        display: flex;
        flex-direction: column;
    }
}