:root {
    --nav-width: 250px;
    --footer-height: 40px;
    --shadow: 0 2px 23x 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: var(--nav-width) 1fr;
    grid-template-rows: 1fr var(--footer-height);
    grid-template-areas: 
    "nav content"
    "nav footer";
}

.menu-area {
    grid-area: nav;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}